
  
html {
  min-height: 100%;
  position: relative;
}

body {
  background: url(basket-wave.html) no-repeat center center fixed;
  -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-backround-size: cover;
  
}
.jumbotron {
  background-color: blueviolet;
  border: dotted;
  justify-content: space-between;
  display: flex;
}

#title-date{
  font-size: 50px;
  color: white;
  
}


i{
  color: lightgray;
}



th {
  background-color: black;
  border: 2px solid double black;
  border-radius: 5px;
  color: greenyellow;
  
}


td {
  border: 2px solid double black;
  border-radius: 5px;

}

.time {
    border: 2px solid black;
}

.input-cell {
    padding: 0px !important;
    position: relative;
  
}

.input-area {
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    padding: 5px 0px 0px 10px;
    position: absolute;
    border-radius: 5px;
}

.save-button-cell {
  background-color: blueviolet;
  border-radius: 5px;
}

.time,
.save-button-cell {
  width: 5%;
}

#title-date, #title-time {
    margin: 0;
}

.sticky-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

