

  
html {
  min-height: 100%;
  position: relative;
}

body {
  background: url(basket-wave.html) no-repeat center center fixed;
  -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-backround-size: cover;
  
}
.jumbotron {
  background-color: blueviolet;
  border: dotted;

}



li  {
  list-style: none;
}

#title-date{
  font-size: 70px;
  color: black;
}
.page1{
  display: flex;
  justify-content: flex-start;
}



.page-item {
  margin-left: 20px;
}


button {
  border-radius: 10px ;

}



#app{
  text-align: center;
  color: antiquewhite;
}

i{
  color: greenyellow;

}
.container1{
  justify-content: space-around;
  display: inline;
  align-content: center;
  display: flex;
 
  
}


th {
  background-color: black;
  border: 2px solid double black ;
  border-radius: 5px;
  color: greenyellow;
  
  
}


td {
  border: 2px solid double black;
  border-radius: 5px;

}



.input-cell {
    padding: 0px !important;
    position: relative;
  
}

.input-area {
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    padding: 5px 0px 0px 10px;
    position: absolute;
    border-radius: 5px;
}

.save-button-cell {
  background-color: black;
  border-radius: 5px;
}

.time{
  
    width: 5%;
    
}



#save-1100 {
  width: 5%;
  background-color: black;
  }


  #clear-schedule{
  background-color: red;
}

.button-container{
  display: flex;
  justify-content: space-between;

}



footer {

  width: 100%;
  background-color: lightgray;
  height: 30px;
  display: flex;
  justify-content: space-between;

}

.text-note{
  margin-left: 20px;
  margin-right: 50px;
}
a{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-style:oblique;
  margin-right: 50px;
  
}

